// Variables
$primary-color: #0071ec;
$primary-400: #1f8aff;
$primary-200: #85bfff;
$primary-050: #ebf4ff;

$brand-secondary: #03e0d5;
$background-color: #fff;

$grey-100: #f7f8fa;
$grey-200: #F0F2F5;
$grey-400: #E1E5EA;
$grey-500: #d9dee5;
$grey-600: #b4becb;
$grey-700: #9da6b2;