// Bs todo

// $white:    #fff;
// $gray-100: #f7f8fa;
// $gray-200: #F0F2F5;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
// $black:    #000;

// $blue:    #0071ec;
// $indigo:  #6610f2;
// $purple:  #6f42c1;
// $pink:    #d63384;
// $red:     #dc3545;
// $orange:  #fd7e14;
// $yellow:  #ffc107;
// $green:   #198754;
// $teal:    #20c997;
// $cyan:    #0dcaf0;

// TXP Variables
$primary-050: #ebf4ff;
$primary-100: #b8daff;
$primary-200: #85bfff;
$primary-300: #52a5ff;
$primary-400: #1f8aff;
$primary-color: #0071ec;
$primary-600: #0065d4;
$primary-700: #0059ba;
$primary-800: #004da1;
$primary-900: #1f3f72;

$brand-secondary: #03e0d5;
$background-color: #fff;
$grey-075: #fbfcfc;
$grey-100: #f7f8fa;
$grey-200: #f0f2f5;
$grey-400: #e1e5ea;
$grey-500: #d9dee5;
$grey-600: #b4becb;
$grey-700: #9da6b2;
$grey-800: #878e98;
$grey-900: #70767f;
$grey-1000: #3c3f44;
// GLASS VARIABLES
$glassBg: rgba(255, 255, 255, 0.1);
$blurStrength: 5px;
//
