@import './styles/reset';
@import './styles/forms';
@import './styles/modal';
@import './styles/grid';
@import './styles/toolbar';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  display: flex;

  color: #333;
  background-color: #eee;
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-flow: column nowrap;
}

.video-containor {
  height: auto;
}

video {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  object-fit: cover;

  &.flip {
    transform: rotateY(180deg);
  }
}

audio {
  visibility: hidden;
}
