.grid-container {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);

  .grid-item {
    overflow: hidden;
    position: relative;

    .grid-video {
      width: 100%;
      height: 100%;
      display: flex;
      background-color: #333;
      border: 1px solid #333;
      align-items: center;
      justify-content: center;

      &.hidden {
        visibility: hidden;
        height: 0;
        width: 0;
      }

      p {
        color: #eee;
      }
    }

    .grid-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;

      p {
        color: #fff;
        padding-left: 12px;
      }
    }

    .grid-controls {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

.grid-controls {
  .menu-btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: right;

    & + div {
      background-color: transparent;
      visibility: hidden;
      opacity: 0;
      display: none;
      z-index: 999;

      button {
        width: 80px;
        font-size: 12px;
        padding: 4px;
        border: none;
        cursor: pointer;
        display: block;
        background-color: rgba($color: #333, $alpha: 0.6);
        color: #eee;
        text-align: right;
      }
    }

    &:hover + div,
    &:focus-within + div,
    & + div:hover,
    & + div:focus-within {
      visibility: visible;
      opacity: 1;
      display: block;

      button:hover {
        background: blue;
        background-color: rgba($color: #eee, $alpha: 0.6);
        color: #333;
      }
    }
  }
}
