/* You can add global styles to this file, and also import other style files */

//

// Variables
$primary-color: #0071ec;
$primary-400: #1f8aff;
$primary-200: #85bfff;
$primary-050: #ebf4ff;

$brand-secondary: #03e0d5;
$background-color: #fff;

$grey-100: #f7f8fa;
$grey-500: #d9dee5;
$grey-600: #b4becb;
$grey-700: #9da6b2;
// app.modules.scss

@import '/theme/_partials/_navbar';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: $grey-100;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-top: 0.25rem;
  select {
    min-width: 8em;
    background: no-repeat
      url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwMjQgMTAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGMkYyRjI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQoJLnN0MntmaWxsOiNCNEJFQ0I7fQo8L3N0eWxlPgo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMTIiIGhlaWdodD0iMTAyNCIvPgo8bGluZSBjbGFzcz0ic3QxIiB4MT0iLTYzLjgiIHkxPSIwLjIiIHgyPSItNjMuOCIgeTI9IjEwMjcuNyIvPgo8Zz4KCTxwb2x5Z29uIGNsYXNzPSJzdDIiIHBvaW50cz0iNDM2LDUwOS45IDM1Ny42LDQzMy4xIDM3Ni44LDQxMy45IDUxMS4yLDU0OC4zIDY0Ny4yLDQxMi4zIDY2Ni40LDQzMS41IDUxMS4yLDU4Ni43IDQ5Miw1NjcuNSAJIi8+CjwvZz4KPC9zdmc+Cg==');
    background-position: right 5px top; /* Change the px value here to change the distance */

    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.75rem 1rem;
    margin: 0 0.5rem;
    border-color: $grey-500;
    border-radius: 0.25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      outline: 2px solid $primary-color;
      opacity: .5;
      border: 0;
    }
  }
}

// main calendar numbers
.app {
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  max-width: 768px;

  > div {
    background-color: $background-color;
    margin: 8px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid $grey-600;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    font-size: 1.5rem;

    &.fade {
      opacity: 0.5;
      background-color: $grey-500;
      border-color: $grey-500;
    }

    &.selected {
      background-color: $primary-color;
      color: white;
      border-color: $primary-color;
    }

    &.selectedDay {
      border: 2px solid $primary-color;
      background-color: $primary-200;
      color: $background-color;
      position: relative;

      // Active 'dot'
      &:after {
        content: '\00B7';
        font-size: 200%;
        position: absolute;
        bottom: -0.15em;
        left: 0em;

        text-align: center;
        width: 100%;
        color: inherit;
      }
    }

    &:hover {
      background-color: $primary-050;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  div {
    margin: 8px 0;
    border-radius: 1rem;
  }
}

.timesNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  div {
    border: 1px solid $grey-500;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0;

    &:first-of-type {
      border-radius: 1rem 0 0 1rem;
      border-right: 0;
    }

    &:last-of-type {
      border-radius: 0 1rem 1rem 0;
      border-left: 0;
    }

    &:hover {
      background-color: $primary-050;
      border-color: $primary-color;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.high {
  background-color: $primary-color;
  color: $background-color;
}

.timesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div {
    padding: 16px 0;
    margin: 8px;
    width: 126px;
    border: 1px solid $grey-500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: $primary-050;
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}

.selectedTime {
  background: $primary-color;
  color: $background-color;

  &:hover {
    background: $primary-050;
    color: $primary-color;
    border-color: $primary-color;
  }
  &:focus {
    color: $primary-color;
  }
}
