.grid-container {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);

  .grid-item {
    overflow: hidden;
    position: relative;
    display: block;
  }
}

.grid-focused {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 100vh;

  .grid-item {
    overflow: hidden;
    position: relative;
    margin: 16px;
    flex: 1;
    aspect-ratio: 16 / 9;

    &.box-focused {
      order: -1;
      flex: 0 0 100%;
      max-height: 70%;

      video {
        object-fit: contain;
      }
    }
  }
}

.grid-video {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #111;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;

  &.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  p {
    color: #eee;
  }
}

.grid-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  p {
    color: #fff;
    padding-left: 12px;
  }
}

.grid-controls {
  position: absolute;
  top: 5px;
  right: 5px;
}

.grid-controls {
  .menu-btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: right;

    & + div {
      background-color: transparent;
      visibility: hidden;
      opacity: 0;
      display: none;
      z-index: 999;

      button {
        width: 80px;
        font-size: 12px;
        padding: 4px;
        border: none;
        cursor: pointer;
        display: block;
        background-color: rgba($color: #333, $alpha: 0.6);
        color: #eee;
        text-align: right;
      }
    }

    &:hover + div,
    &:focus-within + div,
    & + div:hover,
    & + div:focus-within {
      visibility: visible;
      opacity: 1;
      display: block;

      button:hover {
        background: blue;
        background-color: rgba($color: #eee, $alpha: 0.6);
        color: #333;
      }
    }
  }
}

.grid-1 {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 'box1';
}

.grid-2 {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'box1 box2';

  @media (orientation: portrait) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'box1'
      'box2';
  }
}

.grid-3 {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'box1 box2 box3';

  @media (orientation: portrait) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'box1'
      'box2'
      'box3';
  }
}

.grid-4 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'box1 box2'
    'box3 box4';
}

.grid-5 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'box1 box1 box2 box2 box3 box3'
    'box4 box4 box4 box5 box5 box5';
}

.grid-6 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'box1 box2 box3'
    'box4 box5 box6';
}

.grid-7 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'box1 box1 box2 box2 box3 box3'
    'box4 box4 box4 box5 box5 box5'
    'box6 box6 box6 box7 box7 box7';
}

.grid-8 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'box1 box1 box2 box2 box3 box3'
    'box4 box4 box5 box5 box6 box6'
    'box7 box7 box7 box8 box8 box8';
}

.grid-9 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'box1 box2 box3'
    'box4 box5 box6'
    'box7 box8 box9';
}

.grid-10 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    'box1 box1 box1 box2 box2 box2 box3 box3 box3 box4 box4 box4'
    'box5 box5 box5 box5 box6 box6 box6 box6 box7 box7 box7 box7'
    'box8 box8 box8 box8 box9 box9 box9 box9 box10 box10 box10 box10';
}

.grid-11 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    'box1 box1 box1 box2 box2 box2 box3 box3 box3 box4 box4 box4'
    'box5 box5 box5 box6 box6 box6 box7 box7 box7 box8 box8 box8'
    'box9 box9 box9 box9 box10 box10 box10 box10 box11 box11 box11 box11';
}

.grid-12 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'box1 box2 box3 box4'
    'box5 box6 box7 box8'
    'box9 box10 box11 box12';
}

.grid-13 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
    'box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 box4 box4 box4 box4 box5 box5 box5 box5'
    'box6 box6 box6 box6 box6 box7 box7 box7 box7 box7 box8 box8 box8 box8 box8 box9 box9 box9 box9 box9'
    'box10 box10 box10 box10 box10 box11 box11 box11 box11 box11 box12 box12 box12 box12 box12 box13 box13 box13 box13 box13';
}

.grid-14 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
    'box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 box4 box4 box4 box4 box5 box5 box5 box5'
    'box6 box6 box6 box6 box7 box7 box7 box7 box8 box8 box8 box8 box9 box9 box9 box9 box10 box10 box10 box10'
    'box11 box11 box11 box11 box11 box12 box12 box12 box12 box12 box13 box13 box13 box13 box13 box14 box14 box14 box14 box14';
}

.grid-15 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'box1 box2 box3 box4 box5'
    'box6 box7 box8 box9 box10'
    'box11 box12 box13 box14 box15';
}

.grid-16 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'box1 box2 box3 box4'
    'box5 box6 box7 box8'
    'box9 box10 box11 box12'
    'box13 box14 box15 box16';
}

.grid-17 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
    'box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 box4 box4 box4 box4 box5 box5 box5 box5'
    'box6 box6 box6 box6 box6 box7 box7 box7 box7 box7 box8 box8 box8 box8 box8 box9 box9 box9 box9 box9'
    'box10 box10 box10 box10 box10 box11 box11 box11 box11 box11 box12 box12 box12 box12 box12 box13 box13 box13 box13 box13'
    'box14 box14 box14 box14 box14 box15 box15 box15 box15 box15 box16 box16 box16 box16 box16 box17 box17 box17 box17 box17';
}

.grid-18 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
    'box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 box4 box4 box4 box4 box5 box5 box5 box5'
    'box6 box6 box6 box6 box7 box7 box7 box7 box7 box7 box8 box8 box9 box9 box9 box9 box10 box10 box10 box10'
    'box11 box11 box11 box11 box11 box12 box12 box12 box12 box12 box13 box13 box13 box13 box13 box14 box14 box14 box14 box14'
    'box15 box15 box15 box15 box15 box16 box16 box16 box16 box16 box17 box17 box17 box17 box17 box18 box18 box18 box18 box18';
}

.grid-19 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
    'box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 box4 box4 box4 box4 box5 box5 box5 box5'
    'box6 box6 box6 box6 box7 box7 box7 box7 box7 box7 box8 box8 box9 box9 box9 box9 box10 box10 box10 box10'
    'box11 box11 box11 box11 box12 box12 box12 box12 box13 box13 box13 box13 box14 box14 box14 box15 box15 box15 box15 box15'
    'box16 box16 box16 box16 box16 box17 box17 box17 box17 box17 box16 box16 box16 box16 box16 box19 box19 box19 box19 box19';
}

.grid-20 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'box1 box2 box3 box4 box5'
    'box6 box7 box8 box9 box10'
    'box11 box12 box13 box14 box15'
    'box16 box17 box18 box19 box20';
}
