.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.modal {
  z-index: 10;
  position: absolute;
  overflow: auto;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  background-color: #eee;
  padding: 20px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px #ccc;
    padding: 0 0 12px 0;

    h2 {
      padding: 0;
      margin: 0;
    }

    button {
      font-size: 18px;
      padding: 4px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}
