.calHeader {
  max-width: 768px;
  border-radius: 2rem 2rem 0 0;
  margin: 2rem auto 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 0.5rem;
}

.dateSectors {
  display: flex;
  justify-content: center;
  select {
    background: url('assets/txp-theme/img/select-carret.svg') no-repeat
      transparent;
    background-position: right 0px top;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 1rem 5rem 1rem 2rem;
    border: 0;
    border-radius: 0.25rem;
    outline: 2px solid transparent;
    font-size: 2rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 9%);
    @extend .glass !optional;

    @include media-breakpoint-up(xs) {
      font-size: 1rem;
    }
    @include media-breakpoint-down(sm) {
      border: 1px solid $grey-200;
      margin-bottom: 0.5rem;
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(md) {
    }
    &:nth-of-type(2) {
      min-width: 11rem;
    }
    &:hover {
      background: no-repeat url('assets/txp-theme/img/select-carret-active.svg');
      background-position: right 0px top;
      opacity: 1;
    }
    &:focus {
      border: 0;
      color: $primary-color;
    }
  }
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

// main calendar numbers
.app {
  margin: 2rem auto; // too opinionated?
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 768px;
  background-color: rgba($color: $background-color, $alpha: 0.3);
  border-radius: 0 0 2rem 2rem;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    background: rgb(247, 248, 250);
    background: linear-gradient(
      45deg,
      rgba(247, 248, 250, 1) 0%,
      rgba(251, 252, 252, 1) 50%
    );

    color: $grey-900;
    border: 3px solid rgba($color: $background-color, $alpha: 0.3);
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 9%);
    @extend .glass !optional;
    @include media-breakpoint-down(xs) {
      margin: 0.5vw;
      padding: 2.5vh;
    }
    @include media-breakpoint-up(sm) {
      margin: 0.75vw;
      padding: 3vh;
    }
    @include media-breakpoint-up(md) {
      margin: 1vw;
      padding: 4vh;
      font-size: 3vw;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3vw;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.8vw;
      margin: 0.5vw;
    }

    &.fade {
      opacity: 0.5;
      background-color: rgba($color: #0071ec, $alpha: 0.25);
      // border-color: $grey-500;
    }

    &.selected {
      background-color: $primary-color;
      color: $primary-color;
      border-color: $primary-color;
    }

    &.selectedDay {
      border: 2px solid $primary-color;
      background-color: $primary-200;
      color: $primary-color;
      position: relative;

      // Active 'dot'
      &:after {
        content: '\00B7';
        font-size: 200%;
        text-align: center;
        width: 100%;
        color: $primary-color;
        position: absolute;

        left: 0em;
        @include media-breakpoint-up(xs) {
          bottom: -0.5em;
        }
        @include media-breakpoint-up(sm) {
          bottom: -0.3em;
        }
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
        @include media-breakpoint-up(xl) {
          bottom: -0.5em;
        }
      }
    }

    &:hover {
      background-color: $primary-050;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  div {
    margin: 0 0 0.5rem;
    border-radius: 1rem;
  }
}

.timesNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @extend h6;
  div {
    border: 1px solid $grey-500;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0;

    &:first-of-type {
      border-radius: 1rem 0 0 1rem;
      border-right: 0;
    }

    &:last-of-type {
      border-radius: 0 1rem 1rem 0;
      border-left: 0;
    }

    &:hover {
      background-color: $primary-050;
      border-color: $primary-color;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.activePeriod {
  background-color: $primary-color;
  color: $background-color;
}

.timesList {
  display: grid;
  grid-template-columns: repeat(2, 50% [col-start]);
  column-gap: 0.5rem;
  width: 100%;
  div {
    padding: 16px 0;
    width: 100%;
    border: 1px solid $grey-500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: $primary-050;
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}

.selectedTime {
  background: $primary-color;
  color: $background-color;

  &:hover {
    background: $primary-050;
    color: $primary-color;
    border-color: $primary-color;
  }
  &:focus {
    color: $primary-color;
  }
}

.timesListed {
  padding: 0.5rem 0;
  border-bottom: 1px solid $grey-200;

  &::before {
    display: inline-block;
    content: '';
    vertical-align: -0.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    color: $success;
  }
}

.addToCalendar {
  @extend .btn-outline-primary;
}
