name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - nextjs-app
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache root node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
      - name: Build Server
        run: npx nx run stottle-web-node:build
      - name: Build App
        run: npx nx run stottle-web:build
      - name: Install firebase
        run: npm i firebase-tools -g
      - name: deploy
        run: firebase deploy --token '${{ secrets.FIREBASE_SERVICE_ACCOUNT_STOTTLEMEET }}' --only hosting
